@import "../../../../../variables";
@import "../../../../../mixins";

:host {
  width: 100%;
  height: 100%;
}

.btn {
  min-width: 100%;
  height: 100%;
  padding: 0;
  @include font(400, 12px, 14px, $font-color-primary);
  text-align: center;
  background-color: $btn-color;
  filter: $button-shadow;
  box-shadow: none;
  transition: background-color 0.5s;

  &:hover {
    background-color: $btn-color-hovered;
  }

  &:disabled {
    background-color: $btn-color-disabled;
  }
}
