@import "../../../../variables";
@import "../../../../mixins";

.filters-sort {
  @include flex-sp-between;
  max-width: 100%;
  width: 190px;
  margin-right: 20px;
  &-text {
    @include font();
    margin: 0;
    color: $input-text-color-placeholder;
  }
  &-btn {
    @include font();
    padding: 0;
    min-width: auto;
    color: $btn-color;
    &-active {
      text-decoration-line: underline;
    }
  }
}

@media screen and (max-width: 340px) {
  .filters-sort {
    margin-bottom: 10px;
  }
}
