{
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "semi": true,
        "bracketSpacing": true,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
