<mat-card class="card" [ytubeDateStatusColor]="card && card.publishedAt ? card.publishedAt : ''">
  <ytube-video-thumbnail [imgUrl]="card?.imgUrl?.standard?.url"></ytube-video-thumbnail>
  <div class="stat-panel">
    <ytube-views-count [count]="card?.statistics?.viewCount"></ytube-views-count>
    <ytube-likes-count [count]="card?.statistics?.likeCount"></ytube-likes-count>
    <ytube-dislikes-count [count]="card?.statistics?.dislikeCount"></ytube-dislikes-count>
    <ytube-comments-count [count]="card?.statistics?.commentCount"></ytube-comments-count>
  </div>
  <ytube-video-title [title]="card && card.title ? card.title : ''"></ytube-video-title>
  <ytube-button [text]="btnText"></ytube-button>
</mat-card>
