@import "../../../../variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 15px 20px;
  height: 330px;
  width: 260px;
  overflow: hidden;
  background-color: $background-color;
  filter: $card-shadow;
  border-bottom: inset 5px $border-yellow-color;
}

.red-border {
  border-color: $border-red-color;
}

.green-border {
  border-color: $border-green-color;
}

.blue-border {
  border-color: $border-blue-color;
}

.btn-wrapper {
  width: 120px;
  height: 32px;
}
