@import "../../../../variables";

.card {
  position: relative;
  padding: 20px 20px 15px 20px;
  height: 327px;
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: $background-color;
  filter: $card-shadow;
  &__img__wrapper {
    height: 123px;
    width: 100%;
    overflow: hidden;
    display: flex;
  }
  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 21px;
    object-fit: cover;
  }
  &__title {
    margin-bottom: auto;
    font-family: $roboto-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: $title-color;
  }
  &__type {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $btn-color;
  }
  &:hover {
    cursor: pointer;
    .btn {
      background-color: $btn-color-hovered;
    }
  }
}
