@import "../../../../variables";

.form-buttons {
  width: 70%;
  height: 30px;
  margin: 22px 0 0 auto;
  display: flex;
  align-items: center;
}

.form-link {
  margin-right: 20px;
  color: $btn-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
