@import "../../../variables";

.header {
  position: relative;
  min-height: 80px;
  padding: 15px 0;
  background-color: $header-bg-color;
  &__content-wrapper {
    height: 100%;
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  position: relative;
}
