@import "../../../variables";

.filters {
  width: 100%;
  min-height: 50px;
  background-color: $header-bg-color;
}

.container {
  max-width: 570px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: $laptop) {
    max-width: 80vw;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}
