@import "../../../../variables";

:host {
  width: 100%;
}

.card-img-wrapper {
  height: 125px;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
}
