@import "../../../../../../mixins";
@import "../../../../../../variables";

.stat-panel-item {
  @include flex-sp-between;
  width: 100%;
  flex-wrap: nowrap;
}

.mat-icon {
  height: 13px;
}

.counter {
  align-self: flex-end;
  font-family: $roboto-font;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: $statistic-font-color;
}
