<div class="stat-panel">
  <ytube-client-stat-panel-item [count]="statistics?.viewCount" [iconName]="viewCountIconName">
  </ytube-client-stat-panel-item>
  <ytube-client-stat-panel-item [count]="statistics?.likeCount" [iconName]="likesCountIconName">
  </ytube-client-stat-panel-item>
  <ytube-client-stat-panel-item [count]="statistics?.dislikeCount" [iconName]="dislikesCountIconName">
  </ytube-client-stat-panel-item>
  <ytube-client-stat-panel-item [count]="statistics?.commentCount" [iconName]="commentsCountIconName">
  </ytube-client-stat-panel-item>
</div>
