@import "../../../../variables";
@import "../../../../mixins";

.error-wrapper {
  position: fixed;
  right: 5%;
  bottom: 5%;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(150%);
  opacity: 0;
  animation: 0.5s goUp ease-in forwards;
}

.error-text {
  @include font(400, 14px, 16px, $font-color-primary);

  margin: 0;
}

.error-btn {
  position: relative;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: $font-color-primary;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s;

  &:hover {
    color: $btn-color;
  }
}

@keyframes goUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
