@import "../../../../variables";
@import "../../../../mixins";

.header {
  position: relative;
  min-height: 80px;
  padding: 15px 0;
  background-color: $header-bg-color;
  &-content-wrapper {
    @include flex-sp-between;
    height: 100%;
    max-width: 570px;
    margin: 0 auto;
  }
}

.container {
  position: relative;
}

@media screen and (max-width: 950px) {
  .header-content-wrapper {
    padding-top: 40px;
    max-width: 80vw;
  }
}
