.spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: 0.4s show ease-in forwards;
}

.overflow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
  animation: 0.4s show ease-in forwards;
}

@keyframes show {
  to {
    opacity: 1;
  }
}
