@import "../../../../variables";

.btn-icon {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: $laptop) {
  :host {
    margin-left: 5vw;
  }
}

.btn-wrapper {
  width: 24px;
  height: 24px;
}
