@import "../../../../variables";
@import "../../../../mixins";

.container {
  padding-top: 45px;
}

.form {
  max-width: 100%;
  width: 345px;
  margin: 0 auto;
  padding: 28px 20px;
  background-color: $login-form-bg-color;
  border-radius: 5px;
}

.form-title {
  @include font(700, 18px, 21px, $statistic-font-color);

  margin-bottom: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-label {
  @include font(400, 14px, 16px, $login-form-label-font-color);

  margin-bottom: 4px;
  text-transform: lowercase;
}

.form-input {
  @include font(400, 14px, 16px, $statistic-font-color);

  min-height: 37px;
  width: 100%;
  padding: 13px 40px 13px 8px;
  background-color: $login-form-input-font-color;
  border: none;
}

.form-buttons {
  width: 124px;
  height: 30px;
  margin: 22px 0 0 auto;
  display: flex;
  align-items: center;
}

.form-link {
  margin-right: 20px;
}

.ng-touched.ng-invalid:not(.form) {
  border: 2px solid $border-red-color;
  border-radius: 5px;
}

.alert {
  color: $border-red-color;
}

.req-password-list {
  margin: 0;
  font-size: 12px;
}

.form-field-pass {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 4px;
  top: 32px;
  transform: translateY(-10%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
