@import "../../../../variables";
@import "../../../../mixins";

.card {
  @include flex-column-center;
  padding: 20px 20px 15px 20px;
  height: 330px;
  width: 260px;
  overflow: hidden;
  background: $background-color;
  filter: $card-shadow;
  &:hover {
    cursor: pointer;
    .btn {
      background-color: $btn-color-hovered;
    }
  }
}
