@import "../../../../../variables";
@import "../../../../../mixins";

.search-form {
  display: flex;
  align-items: center;
  padding: 0;
  width: 476px;
  max-width: 100%;
  height: 24px;

  @media screen and (max-width: $laptop) {
    width: 70vw;
  }

  @media screen and (max-width: $tablet) {
    width: 71.5vw;
  }
}

.search-form-input {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 24px;
  color: $input-text-color;
  background-color: $input-bg-color;
  border: none;

  &::placeholder {
    color: $input-text-color-placeholder;
  }
}

.btn-wrapper {
  width: 80px;
  height: 24px;
}
