@import "../../../../variables";

.search-form {
  padding: 0;
  width: 476px;
  max-width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  &__input {
    width: 100%;
    height: 24px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: $input-text-color;
    border: none;
    background-color: $input-bg-color;
    &:focus {
      outline: $title-color;
    }
    &::placeholder {
      color: $input-text-color-placeholder;
    }
  }
}
