@import "../../../../variables";
@import "../../../../mixins";

.filters-search {
  @include flex-sp-between;
  max-width: 100%;
  &-text {
    @include font();
    margin: 0;
    margin-right: 10px;
    color: $btn-color;
  }
  &-input {
    width: 149px;
    height: 13px;
    font-size: 12px;
    border: none;
    &:focus {
      outline: $title-color;
    }
  }
}

@media screen and (max-width: 340px) {
  .filters-search-input {
    width: 36vw;
  }
}
