@import "../../../../variables";

.mat-icon {
  width: 18.4px;
}

.profile {
  position: absolute;
  top: 13px;
  right: 40px;
  display: flex;
  align-items: center;
  &__name {
    margin: 0;
    margin-right: 8px;
    font-family: $roboto-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $title-color;
    text-transform: capitalize;
    white-space: nowrap;
  }
}

@media screen and (max-width: 950px) {
  .profile {
    top: 0;
    right: 20px;
  }
}

@media screen and (max-width: 398px) {
  .profile {
    right: 3.5vw;
  }
}
