@import "../../../../variables";

.card-list {
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-items: center;

  @media screen and (max-width: $mobile) {
    padding: 30px 0;
  }
}
