@import "../../../../variables";
@import "../../../../mixins";

.card-list {
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-items: center;

  @media screen and (max-width: $mobile) {
    padding: 30px 0;
  }
}

.no-data {
  margin: 0 auto;
  max-width: 300px;
}

.no-data-text {
  @include font(700, 14px, 16px, $login-form-label-font-color);
}
