<mat-card class="card" [ytubeClientDateStatusColor]="card && card.publishedAt || ''">
  <ytube-client-video-thumbnail [imgUrl]="card?.imgUrl || ''">
  </ytube-client-video-thumbnail>
  <ytube-client-stat-panel [statistics]="card?.statistics || null"></ytube-client-stat-panel>
  <ytube-client-video-title [title]="card?.title || ''"></ytube-client-video-title>
  <div class="btn-wrapper">
    <ytube-client-button [text]="btnText" [routerLink]="currentRoute"></ytube-client-button>
  </div>
</mat-card>
