//colors
$background-color: #e5e5e5;
$title-color: #4f4f4f;
$btn-color: #2f80ed;
$btn-color-hovered: #5ea2ff;
$btn-color-disabled: #b1b1b1;
$font-color-primary: #fff;
$statistic-font-color: #000;
$header-bg-color: #e5e5e5;
$input-bg-color: #efefef;
$input-text-color: #333;
$input-text-color-placeholder: #929292;
$login-form-bg-color: #f2f2f2;
$login-form-label-font-color: #828282;
$login-form-input-font-color: #e0e0e0;
$border-red-color: #eb5757;
$border-yellow-color: #f2c94c;
$border-green-color: #27ae60;
$border-blue-color: #2f80ed;

//fonts
$roboto-font: "Roboto", sans-serif;

//shadows
$card-shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
$button-shadow: drop-shadow(2px 0px 4px $btn-color);

//breakpoints
$laptop: 950px;
$tablet: 590px;
$mobile: 400px;
