@import "./mixins";

html,
body {
  height: 100%;
}

body {
  @include font();
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: calc(100vw - 6%);
  max-width: 1200px;
  margin: 0 auto;
}
