<div class="stat-panel">
  <ytube-client-stat-panel-item [count]="statistics?.viewCount || ''" [iconName]="icons.viewsCount">
  </ytube-client-stat-panel-item>
  <ytube-client-stat-panel-item [count]="statistics?.likeCount || ''" [iconName]="icons.likesCount">
  </ytube-client-stat-panel-item>
  <ytube-client-stat-panel-item [count]="statistics?.dislikeCount || ''" [iconName]="icons.dislikesCount">
  </ytube-client-stat-panel-item>
  <ytube-client-stat-panel-item [count]="statistics?.commentCount || ''" [iconName]="icons.commentsCount">
  </ytube-client-stat-panel-item>
</div>
